* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F8F8F8;
    color:#29292E;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}